.vxe-table, .el-table   
  table
    border-collapse unset
    margin unset
    display inherit
    overflow-x unset
  tr
    border-top unset
    &:nth-child(2n)
      background-color unset
  th, td
    border unset
    padding unset
.theme-default-content:not(.custom) {
  max-width: none;
}
.page{
  .page-nav{
    max-width: none;
    .inner{
      padding-right: 60px;
    }
  }
  .page-edit{
    max-width: none;
  }
}